.meme--main {
    margin-top: 10px;
    justify-content: center;
    display: flex;
    align-content: center;
    position: relative;
}

.top-text {
    position: absolute;
    top: 0;
}

.bottom-text {
    bottom: 0;
    position: absolute;
}